@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');
@import "reset.css";

body {
    font-family: 'Raleway', sans-serif;
    background-color: mintcream;
}

nav {
    margin: 2rem;
    display: flex;
    justify-content: space-between;
}

#blog {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;
}

#blog article {
    width: 50%;
    margin-top: 2rem;
}

@media (max-width: 1024px) {
    #blog article {
        width: 85%;
    }
}

.post-title {
    align-items: flex-start;
}

.post-title a {
    color: steelblue;
    text-decoration: none;
    margin-left: .5rem;
}

.post-title a:last-child {
    color: red;
}

.post-title>div {
    margin-left: auto;
    align-self: center;
}

.post-author {
    margin: .5rem 0;
}

.post-excerpt {
    display: block;
    max-width: 600px;
    margin-bottom: 1rem;
    margin-right: 5rem;
    color: blue;
    word-wrap: break-word;
    white-space: normal;/
}

@media (max-width: 768px) {
    .post-excerpt {
        max-width: 100%;
    }
}